<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> | Movie Detail</title>
</head>

<body>
    <h1><%= movie.title %></h1>
    <ul>
        <li>Rating: <%= movie.rating %> </li>
        <li>Awards: <%= movie.awards %> </li>
        <li>Length: <%= movie.length %> minutes</li>
        <li>Release date: <%= movie.release_date %> </li>
    </ul>

    <form action="/movies/delete/<%= movie.id %>?_method=DELETE" method="POST">
        <button type="submit" style="background-color: rgb(158, 0, 0); color: white;">DELETE MOVIE</button>
    </form>
    <br>

    <%- include('partials/searchForm.ejs') %>
</body>

</html>